html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/geometry2.png'); /* Background pattern from Subtle Patterns */
    font: 20px 'Coda', cursive;
}

.container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    /*flex-direction: column;*/
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

h2,
h3 {
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

/*
 * Styles for the deck of cards
 */

 .deck {
    width: 80%;
    min-height: 680px;
    padding: 10px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.left-images,
.right-quotes {
    min-height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.left-images {
    width: 30%;
    padding: 20px;
}

.right-quotes {
    width: 70%;
    padding: 20px 20px 20px 0;
}

.deck .card {
    height: 150px;
    background: #2e3d49;
    font-size: 0;
    color: #ffffff;
    border-radius: 8px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
}

.left-images .card {
    width: 150px;
}

.right-quotes .card {
    width: 395px;
}

.deck .card.open {
    transform: rotateY(0);
    background: #02b3e4;
    cursor: default;
}

.deck .card.show {
    font-size: 33px;
    animation-name: increase-font;
    animation-duration: 0.4s;
}

.deck .card.match {
    cursor: default;
    background: #02ccba;
    font-size: 33px;
    animation-name: matching;
    animation-duration: 1s;
}

/* CSS animations from https://www.w3schools.com/css/css3_animations.asp */
@keyframes increase-font {
    from {font-size: 25px;}
    to {font-size: 33px;}
}

@keyframes matching {
    from {background-color: #02b3e4;}
    to {background-color: #02ccba;}
}


/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
}

.score-panel .hearts {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
/*  color: white;
    CSS "font border" from https://stackoverflow.com/questions/2570972/css-font-border 
    text-shadow: -1px 0 2px black, 0 1px 2px black, 1px 0 2px black, 0 -1px 2px black; */
}

.score-panel .hearts li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer,
.score-panel .moves-container {
    width: 100%;
    padding: 5% 0 5% 0;
}

.score-panel .restart {
    width: 100%;
    float: right;
    cursor: pointer;
}

.score-panel .restart i {
    margin: 0 5px 0 5px;
}

/*
 * Styles for the Win Message
 */

.hide {
    display: none;
}

.win-message {
    text-align: center;
    color: white;
    width: 660px;
    min-height: 250px;
    background: linear-gradient(160deg, #02ccba 0%, #aa7ecd 100%);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}


/* Responsive design 

@media screen and (max-width: 499px) {
    body {
        font-size: 18px;
    }

    .score-panel {
        width: 350px;
    }

    .score-panel .hearts {
        margin: 0 0 0 10px;
    }

    .score-panel .restart {
        margin: 0 10px 0 0;
    }

    .score-panel .timer {
        margin: 0 0 0 30px;
    }

    .deck {
        width: 350px;
        max-width: 100%;
        min-height: 350px;
    }

    .deck .card {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    .deck {
        width: 500px;
        min-height: 500px;
    }

    .deck .card {
        width: 100px;
        height: 100px;
    }
}

*/



/*
 * Card background images
 */

.card.ned {
    background: url('../img/ned-150.jpg') center/cover;
}

.card.syrio {
    background: url('../img/syrio-150.jpg') center/cover;
}

.card.jaime {
    background: url('../img/jaime-150.jpg') center/cover;
}

.card.littlefinger {
    background: url('../img/littlefinger-150.jpg') center/cover;
}

.card.ygritte {
    background: url('../img/ygritte-150.jpg') center/cover;
}

.card.cersei {
    background: url('../img/cersei-150.jpg') center/cover;
}

.card.melisandre {
    background: url('../img/melisandre-150.jpg') center/cover;
}

.card.tywin {
    background: url('../img/tywin-150.jpg') center/cover;
}

.card.hodor {
    background: url('../img/hodor-150.jpg') center/cover;
}

.card.ramsay {
    background: url('../img/ramsay-150.jpg') center/cover;
}

.card.brienne {
    background: url('../img/brienne-150.jpg') center/cover;
}

.card.sam {
    background: url('../img/sam-150.jpg') center/cover;
}

.card.tyrion {
    background: url('../img/tyrion-150.jpg') center/cover;
}

.card.arya {
    background: url('../img/arya-150.jpg') center/cover;
}

.card.varys {
    background: url('../img/varys-150.jpg') center/cover;
}

.card.daenerys {
    background: url('../img/daenerys-150.jpg') center/cover;
}
