html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/xv_2_@2X.png'); /* Background pattern from Subtle Patterns */
    font: 580 18px 'Open Sans', sans-serif;
    color: #241e1b;
}

.container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto 0 auto;
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Metamorphous', sans-serif;
    font-weight: 800;
}


/*
 * Styles for the deck of cards
 */

 .deck {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background: #241e1b url('../img/dark_wood_2_@2X.png'); /* Background pattern from Subtle Patterns */
    border: 5px outset darkgray;
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.left-images,
.right-quotes {
    min-height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

.left-images {
    width: 30%;
}

.right-quotes {
    width: 70%;
    padding-left: 0;
}

.deck .card {
    height: 150px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    font-size: 0;
    background: darkgray url('../img/arab_tile_@2X.png'); /* Background pattern from Subtle Patterns */
    padding: 5px;
    border-radius: 5px;
    border: 3px outset darkgray;
}

.left-images .card {
    width: 150px;
}

.right-quotes .card {
    width: 395px;
}

.right-quotes .card.open {
    transform: rotateY(0);
    background: lightgray url('../img/xv_@2X.png'); /* Background pattern from Subtle Patterns */
    cursor: default;
}

.right-quotes .card.show {
    font-size: 25px;
}

.deck .card.match {
    cursor: default;
}

.right-quotes .card.match {
    background: #ddc5a2 url('../img/xv_2_@2X.png'); /* Background pattern from Subtle Patterns */
    animation-name: matching;
    animation-duration: 2s;
}

/* CSS animations from https://www.w3schools.com/css/css3_animations.asp */
@keyframes matching {
    from {background: lightgray url('../img/xv_@2X.png');}
    to {background: #ddc5a2 url('../img/xv_2_@2X.png');}
}

/*
 * Card background images downloaded from http://gameofthrones.wikia.com and then resized
 */
.left-images .card.ned {background: url('../img/ned-150.jpg') center/cover;}
.left-images .card.syrio {background: url('../img/syrio-150.jpg') center/cover;}
.left-images .card.jaime {background: url('../img/jaime-150.jpg') center/cover;}
.left-images .card.littlefinger {background: url('../img/littlefinger-150.jpg') center/cover;}
.left-images .card.ygritte {background: url('../img/ygritte-150.jpg') center/cover;}
.left-images .card.cersei {background: url('../img/cersei-150.jpg') center/cover;}
.left-images .card.melisandre {background: url('../img/melisandre-150.jpg') center/cover;}
.left-images .card.tywin {background: url('../img/tywin-150.jpg') center/cover;}
.left-images .card.hodor {background: url('../img/hodor-150.jpg') center/cover;}
.left-images .card.ramsay {background: url('../img/ramsay-150.jpg') center/cover;}
.left-images .card.brienne {background: url('../img/brienne-150.jpg') center/cover;}
.left-images .card.sam {background: url('../img/sam-150.jpg') center/cover;}
.left-images .card.tyrion {background: url('../img/tyrion-150.jpg') center/cover;}
.left-images .card.arya {background: url('../img/arya-150.jpg') center/cover;}
.left-images .card.varys {background: url('../img/varys-150.jpg') center/cover;}
.left-images .card.daenerys {background: url('../img/daenerys-150.jpg') center/cover;}


/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 14%;
    max-height: 500px;
    font-family: 'Metamorphous', sans-serif;
    color: #ddc5a2;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 2% 0 2% 0;
    margin-right: 1%;
    background: #241e1b url('../img/dark_wood_2_@2X.png'); /* Background pattern from Subtle Patterns */
    border: 5px outset darkgray;
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.score-panel .hearts {
    width: 100%;
    padding: 0;
    margin-bottom: 5px;
}

.score-panel .hearts li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer,
.score-panel .moves-container,
.score-panel .help-menu,
.score-panel .help-button {
    width: 100%;
    padding: 5% 0 5% 0;
}

.score-panel [class*='-controls'] {
    width: 100%;
    float: right;
    padding-bottom: 5%;
}

.score-panel [class*='-controls'] i {
    cursor: pointer;
    margin: 0 7px 0 7px;
}

.score-panel .help-button {
    cursor: pointer;
    font-size: 25px;
}

.score-panel .separator {
    width: 90%;
    border: 1px solid black;
}


/*
 * Styles for the Win Message and Lose Message
 */

.win-message,
.lose-message {
    width: 80%;
    text-align: center;
    color: #241e1b;
    padding: 50px;
    border-radius: 5px;
    border: 5px outset antiquewhite;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.win-message {
    min-height: 450px;
    background: #ddc5a2 url('../img/8.png') bottom/cover;
}

.lose-message {
    min-height: 650px;
    background: lightgrey url('../img/21.png') bottom/cover;
}

.win-message .no-of-hearts li,
.lose-message .no-of-hearts li {
    list-style: none;
    display: inline-block;
}

.hide {
    display: none;
}


/*
 * Styles for the Help Menu
 */

.help-menu {
    width: 80%;
    background: url("../img/xv_@2X.png");
    padding: 1em;
    margin-bottom: 3em;
    border: 5px outset darkgray;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.help-menu .instructions,
.help-menu .game-printscreen-large,
.help-menu h1 {
    width: 100%;
}

.help-menu .game-printscreen-small {
    max-width: 200px;
}

.help-menu [class*='game-printscreen-'] img {
    max-width: 100%;
}

.help-menu .character-card {
    width: 100%;
    float: left;
}

.help-menu .character-photo {
    width: 150px;
    height: 150px;
    border-radius: 5px;
    border: 3px outset darkgray;
    margin: 10px 20px 0 0;
    float: left;
}

.help-menu .quote {
    font-weight: 700;
    font-style: italic;
}


/* Responsive design 

@media screen and (max-width: 499px) {
    body {
        font-size: 18px;
    }

    .score-panel {
        width: 350px;
    }

    .score-panel .hearts {
        margin: 0 0 0 10px;
    }

    .score-panel .restart {
        margin: 0 10px 0 0;
    }

    .score-panel .timer {
        margin: 0 0 0 30px;
    }

    .deck {
        width: 350px;
        max-width: 100%;
        min-height: 350px;
    }

    .deck .card {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    .deck {
        width: 500px;
        min-height: 500px;
    }

    .deck .card {
        width: 100px;
        height: 100px;
    }
}

*/

