html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #ffffff url('../img/xv_@2X_2.png'); /* Background pattern from Subtle Patterns */
    font: 18px 'Open Sans', sans-serif;
    color: #301b28;
}

.container {
    width: 1500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto 0 auto;
    /*flex-direction: column;*/
}

header {
    width: 100%;
    text-align: center;
}

h1 {
    font-family: 'Metamorphous', sans-serif;
    font-weight: 800;
}

/*
 * Styles for the deck of cards
 */

 .deck {
    width: 80%;
    min-height: 650px;
    padding: 10px;
    background: black url('../img/dark_wood_@2X_2.png'); /* Background pattern from Subtle Patterns */
    border-radius: 5px;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
    border: 5px outset darkgray;
}

.left-images,
.right-quotes {
    min-height: 680px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 3em;
}

.left-images {
    width: 30%;
    padding: 20px;
}

.right-quotes {
    width: 70%;
    padding: 20px 20px 20px 0;
}

.deck .card {
    height: 150px;
    background: #2e3d49 url('../img/arab_tile_@2X.png'); /* Background pattern from Subtle Patterns */
    font-size: 0;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 3px outset darkgray;
    text-align: center;
}

.left-images .card {
    width: 150px;
}

.right-quotes .card {
    width: 395px;
}

.deck .card.open {
    transform: rotateY(0);
    background: url('../img/xv_@2X.png') center/cover no-repeat;
    cursor: default;
}

.deck .card.show {
    font-size: 25px;
}

.right-quotes .card.match {
    cursor: default;
    background: url('../img/xv_@2X_2.png') center/cover no-repeat;
    font-size: 25px;
    animation-name: matching;
    animation-duration: 2s;
}

/* CSS animations from https://www.w3schools.com/css/css3_animations.asp */
@keyframes matching {
    from {background: url('../img/xv_@2X.png') center/cover no-repeat;}
    to {background: url('../img/xv_@2X_2.png') center/cover no-repeat;}
}

/*
 * Card background images
 */

 .left-images .card.ned {
    background: url('../img/ned-150.jpg') center/cover;
}

.left-images .card.syrio {
    background: url('../img/syrio-150.jpg') center/cover;
}

.left-images .card.jaime {
    background: url('../img/jaime-150.jpg') center/cover;
}

.left-images .card.littlefinger {
    background: url('../img/littlefinger-150.jpg') center/cover;
}

.left-images .card.ygritte {
    background: url('../img/ygritte-150.jpg') center/cover;
}

.left-images .card.cersei {
    background: url('../img/cersei-150.jpg') center/cover;
}

.left-images .card.melisandre {
    background: url('../img/melisandre-150.jpg') center/cover;
}

.left-images .card.tywin {
    background: url('../img/tywin-150.jpg') center/cover;
}

.left-images .card.hodor {
    background: url('../img/hodor-150.jpg') center/cover;
}

.left-images .card.ramsay {
    background: url('../img/ramsay-150.jpg') center/cover;
}

.left-images .card.brienne {
    background: url('../img/brienne-150.jpg') center/cover;
}

.left-images .card.sam {
    background: url('../img/sam-150.jpg') center/cover;
}

.left-images .card.tyrion {
    background: url('../img/tyrion-150.jpg') center/cover;
}

.left-images .card.arya {
    background: url('../img/arya-150.jpg') center/cover;
}

.left-images .card.varys {
    background: url('../img/varys-150.jpg') center/cover;
}

.left-images .card.daenerys {
    background: url('../img/daenerys-150.jpg') center/cover;
}



/*
 * Styles for the Score Panel
 */

.score-panel {
    width: 14%;
    min-height: 400px;
    margin-right: 1%;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    background: black url('../img/dark_wood_@2X_2.png'); /* Background pattern from Subtle Patterns */
    padding: 2% 0 2% 0;
    border: 5px outset darkgray;
    border-radius: 5px;
    color: #ddc5a2;
    font-family: 'Metamorphous', sans-serif;
}

.score-panel .hearts {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    margin: 0 5px 0 0;
}

.score-panel .hearts li {
    list-style: none;
    display: inline-block;
}

.score-panel .timer,
.score-panel .moves-container {
    width: 100%;
    padding: 5% 0 5% 0;
}

.score-panel [class*='controls'] {
    width: 100%;
    float: right;
    cursor: pointer;
    padding-bottom: 5%;
}

.score-panel [class*='controls'] i {
    margin: 0 5px 0 5px;
}

.score-panel .separator {
    width: 90%;
    border: 1px solid black;
}

/*
 * Styles for the Win Message
 */

.hide {
    display: none;
}

.win-message {
    width: 80%;
    min-height: 450px;
    text-align: center;
    color: #301b28;
    background: url('../img/8.png') bottom/cover;
    padding: 50px;
    border-radius: 5px;
    border: 5px outset antiquewhite;
    box-shadow: 12px 15px 20px 0 rgba(46, 61, 73, 0.5);
}

.win-message .no-of-hearts li {
    list-style: none;
    display: inline-block;
}


/* Responsive design 

@media screen and (max-width: 499px) {
    body {
        font-size: 18px;
    }

    .score-panel {
        width: 350px;
    }

    .score-panel .hearts {
        margin: 0 0 0 10px;
    }

    .score-panel .restart {
        margin: 0 10px 0 0;
    }

    .score-panel .timer {
        margin: 0 0 0 30px;
    }

    .deck {
        width: 350px;
        max-width: 100%;
        min-height: 350px;
    }

    .deck .card {
        width: 60px;
        height: 60px;
    }
}

@media screen and (min-width: 500px) and (max-width: 749px) {
    .deck {
        width: 500px;
        min-height: 500px;
    }

    .deck .card {
        width: 100px;
        height: 100px;
    }
}

*/




